@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed','Roboto', 'Helvetica Nueue', sans-serif;
    font-size: 100%;
}

.dateDisplay {
    margin: 0px;

    h4{
        margin: 0px;
    }
}

.date {
    font-size: .75rem;

}

.temp{
    // border: 1px solid blue;
    .temp-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1{
            margin: 0px;
            font-size: 4.4rem;
            font-weight: 300;
        }

        .weatherIcon{
            font-size: 3.8rem;
            i{
                font-weight: lighter;
            }
            
        }
    }

    .temp-mid{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        p{
            margin: 0px;
            font-size: .85rem;
        }
    }

    .temp-btm{
        p{
            font-size: 1.0rem;
        }
    } 
}

// .metrics-row{
//     // display: flex;
//     // flex-direction: column;
//     // justify-content: center;
//     border: 1px red solid;
// }
.metrics{
    .column-1{
        padding: 0 20px 0 15px;
        .icons{
            display: flex;
            justify-content: center;
            // border:1px solid red;
            align-items: center;
            width:50px;
            height:35px;

            i{
                
                font-size: 25px;
            }
        }
    }

    .column-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: .80rem;
        padding: 0 0 0 20px;
        border-left: .25px solid rgb(234, 236, 255);
    }
}

